:root {
    --secondaryColor: #008ba3;
    --primaryColor: #212121;
    --primaryWhite: #fff;
    --primaryBlack: #222;
    --primaryGrey: #efefef;
    --primaryGray500: #9E9E9E;
    --primaryError: #FF4D4F;
    --letterSpacing: 0.25rem;
    --primaryTransition: all 0.3s ease-in-out;

    --transition: all 0.21s linear;
    --shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
}
.letter-spacing {
    letter-spacing: var(--letterSpacing);
}
.text-custom {
    color: var(--primaryColor);
}
.btn-custom {
    display: inline-block;
    background: var(--primaryColor);
    outline: 0.15rem solid var(--primaryColor);
    outline-offset: 4px;
    padding: 0.5rem 1rem;
    text-transform: uppercase;
    color: var(--primaryBlack);
    font-weight: bold;
    transition: var(--primaryTransition);
}
.btn-custom:hover {
    background: transparent;
    color: var(--primaryColor);
    text-decoration: none;
}
  